# Gradle
build/
.gradle/

# IDE
.idea/
*.iml
.vscode/
!.vscode/
.vscode/*
!.vscode/release.ps1
*.launch
.settings/
.classpath
.project
bin/

# Runtime
run/
logs/
crash-reports/

# OS
.DS_Store
Thumbs.db

# Misc
*.class
ap-source/
